PUSHER_APP_ID=450004
PUSHER_KEY=e604816i8n802t6d360a
PUSHER_SECRET=fd7a2256828egh6068tu
PUSHER_CLUSTER=us2
PUSHER_ENCRYPTED=true

AUTH0_CLIENT_ID=6pjrIISjNAO14ShrOxN62ScKyxmRJud0
AUTH0_CLIENT_SECRET=2VORs8qELhfaBxkS7TproQS5t9iaWzZTEINMXm_V6Vno-Qi9lOfze_my6QADOIS-
AUTH0_DOMAIN=bkrebs.auth0.com
