.cannon-ball {
  animation-name: shoot;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes shoot {
  100% {
    transform: translate3D(600px, -500px, 100px);
  }
}
